/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* HTML */
html {
    font-family: 'PT Sans', sans-serif;
    font-size: 100%;
}
img {
    max-width: 100%;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: var(--lt-color4);
}
/* Common */
.container {
    max-width: 1000px;
    width: 90%;
    padding: var(--m2) 0px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Custom Pro */
:root {
    /* List-color */
    --lt-color1:#0084FD;
    --lt-color2:#B5DDFF;
    --lt-color3:#9792E4;
    --lt-color4:white;
    /* Font */
    --font-1: 1rem;
    --font-1_1:1.25rem;
    --font-2: 1.5rem;
    --font-2_1: 1.8rem;
    --font-3: 2rem;
    /* Margin */
    --m1:1em;
    --m2:1.5em;
    --m3:2em;
    --m3_1:3em;
    --m4:4em;
    --m5:6em;
    /* Bor radius */
    --br: 1rem;
    /* DEBUG */
    --border: 1px solid black
}

/* Header */
header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--lt-color1);
    height: 80px;
}
.container .burger{
    font-size: var(--font-2)
}
.container .main-menu {
    display: none;
}
.container .main-menu ul li{
    margin-left: var(--m3);
}

/* Main */
/* Sec One__________ */
#sec-one{
    margin-top: var(--m5);
}
#sec-one .container{
    flex-wrap: wrap;
}
#sec-one .container .cards {
    width: 100%;
}
#sec-one .container .cards .card:first-child {
    padding: 1.2em 1.2em 0em 1.2em;
}
/* #sec-one .container .cards .card:last-child {
    margin-bottom: 0px;
} */
#sec-one .container .cards .card {
    width: 100%;
    background-color: var(--lt-color2);
    border-radius: var(--br);
    padding: 1.2em;
    margin-bottom: var(--m1);
}
.cards .card > .text-card {
    margin-bottom: var(--m1);

    /* Debug */
    border: var(--border);
}
.cards .card > .img-card {
    /* Debug */
    border: var(--border);
}

/* Sec plan________ */
#sec-plan {
    width: 100%;
    margin-top: var(--m1);
    background-color: var(--lt-color3);
}
.plan-cont {
    width: 100%;
}
.plan-cont .plan, .plan-b {
    width: 100%;
}
.plan-cont .plan {
    /* Debug */
    padding-bottom:2em;
}
.plan-cont .plan-b {
    padding: 1.2em;
    text-align: center;
    background-color: white;
    border-radius: var(--br);
    margin-top: var(--m1);
}

/* Sec users_________ */
#sec-users {
  
}
#sec-users .container{
    flex-wrap: wrap;
    text-align: center;
}
#sec-users .container .title-users, .single-user {
    width: 100%;
    margin-bottom: var(--m1);
    padding: var(--m1);
    
}
#sec-users .container .single-user {
    background-color: var(--lt-color3);
    border-radius: var(--br);
}
#sec-users .container .single-user .img-user, .text-user-ex {
    border: var(--border);
    margin-bottom: 0.5em;
}

/* Sec Benefits */
#sec-ben {
    width: 100%;
    background-color: var(--lt-color3);
}
#sec-ben .container {
    flex-wrap: wrap;
}
.container .title-benf {
    width: 100%;
    margin-bottom: var(--m2);
    font-size:  var(--font-2);
    text-align: center;
}
.container .row-benf {
    width: 100%;
}
.container .row-benf .col {
    width: 100%;
    background-color: var(--lt-color4);
    border-radius: var(--br);
    padding: var(--m1);
    margin-bottom: var(--m1);
}

/* Sec About */

#about {
    width: 100%;
    margin-top: var(--m1);
}
.container .about-cont {
    width: 100%;
    padding: var(--m3) 0px;
}
.container .about-cont .text-about, .img-about {
    width: 100%;
    margin-bottom: 1em;
}

/* Sec Call to action */
#call-to {
    width: 100%;
    background-color: var(--lt-color3);
    
}
#call-to .container {
   padding:var(--m3) 0px;
   text-align: center; 
}

/* Footer */
footer {
    width: 100%;
    background-color: #333333;
    
}
footer .container {
    flex-wrap: wrap;
    color: white;
    text-align: center;
}
.container .one, .two {
    margin-bottom: var(--m1);
    text-align: center;
}

/* __________ MEDIA QUERIS______________ */

/* TABLET */
@media screen and (min-width:768px) {
    /* Sec One */
    #sec-one .container .cards .card:first-child {
        width: calc(100% / 3 * 2 - 1.5rem / 3);
        
    }
    #sec-one .container .cards {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1.5rem;
    }
    #sec-one .container .cards .card {
        width: calc(100% / 3 - 1.5rem * 2 / 3);
        margin-bottom: 0rem;
    } 
    /* Sec Benefits */
    #sec-ben .container .row-benf {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: space-between;
    }
    #sec-ben .container .row-benf .col {
        width: calc(100% / 2 - 1rem);
    }
    /* Sec About */
    .container .about-cont {
        width: 100%;
        display:flex;
        justify-content: space-between;
    }
    .container .about-cont .text-about {
        width: 70%;
        padding: 0em var(--m2);
        margin-bottom: 0em;
    }
    .container .about-cont .img-about {
        width: 30%;
        margin-bottom: 0em;
    }

}



/* DESKTOP */
@media screen and (min-width:992px) {
    /* Header */
    .container .burger {
        display: none;
    }
    .container .main-menu {
        display: block;
    }
    .container .main-menu ul{
        display: flex;
    }
    .container .main-menu ul li a {
        font-size:var(--font-1_1)
    }
    /* SEC ONE */
    #sec-one .container .cards .card{
        display: flex;
        justify-content: space-between;
    }
    .card .text-card, .img-card {
        width: 50%;
        padding: 0rem 1rem;
    }

    /* SEC PLAN */
    .plan-cont {
        margin: 0 auto;
        width: 90%;
        display: flex;
        justify-content: space-between;
    }
    .plan-cont .plan, .plan-b {
        width: calc(100% / 2 - 1.5rem);
    }

    /* SEC USER */
    #sec-users .container .single-user {
        display: flex;
        justify-content: space-between;
    }
    .single-user .img-user {
        width: 30%;
    }
    .single-user .text-user-ex {
        width: 70%;
    }
    
    /* SEC BENEFITS */

    #sec-ben .container .row-benf {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        justify-content: space-between;
    }
    #sec-ben .container .row-benf .col {
        width: calc(100% / 3 - 1rem);
    }
    /* SEC CALL TO ACTION */
    #call-to .container {
        padding:var(--m3) 0px;
        width: 40%; 
     }
    /* FOOTER */
    footer .container {
        width: 35%;
    }
}